<h1><%= Rental.model_name.human(count: 2) %></h1>

<%= link_to 'Registrar locação', new_rental_path %>

<%= form_tag(search_rentals_path, method: "get") do %>
  <%= label_tag(:q, "Pesquisa:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Buscar") %>
<% end %>

<table style="width:100%">
  <tr>
    <th>Código</th>
    <th>Cliente</th>
    <th>CPF</th>
    <th>Data de Início</th>
    <th>Data de Término</th>
  </tr>
  <% @rentals.each do |rental| %>
    <tr>
      <td><%= link_to rental.code, rental %></td>
      <td><%= rental.client.name %></td>
      <td><%= rental.client.document %></td>
      <td><%= rental.start_date.strftime("%d/%m/%Y") %></td>
      <td><%= rental.end_date.strftime("%d/%m/%Y") %></td>
    </tr>
  <% end %>
</table>