<h1><%= Car.model_name.human(count: 2) %></h1>

<%= link_to 'Registrar novo carro', new_car_path %>

<% @cars.each do |car| %>
  <p>Placa do Carro: <%= link_to car.license_plate, car %></p>
  <p>Modelo: <%= car.car_model.name %></p>
  <p>Cor: <%= car.color %></p>
  </br>
<% end %>