<!-- Sidebar -->
<aside class="ls-sidebar">
  <div class="ls-sidebar-inner">
    <a href="/locawebstyle/documentacao/exemplos//pre-painel" class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>
    <nav class="ls-menu" role="navigation">
      <ul role="menu">
        <li><a href=<%= manufacturers_path%> class="ls-ico-dashboard" title="Manufacturers" role="menuitem">Fabricantes</a></li>
        <li><a href=<%= clients_path%> class="ls-ico-users" title="Clients" role="menuitem">Clientes</a></li>
        <li><a href=<%= subsidiaries_path%> class="ls-ico-windows" title="Subsidiaries" role="menuitem">Filiais</a></li>
        <li><a href=<%= car_categories_path%> class="ls-ico-windows" title="Categories" role="menuitem">Categorias</a></li>
        <li><a href=<%= car_models_path%> class="ls-ico-windows" title="Car Models" role="menuitem">Modelos de Carro</a></li>
        <li><a href=<%= cars_path%> class="ls-ico-windows" title="Cars" role="menuitem">Carros</a></li>
        <li><a href=<%= rentals_path%> class="ls-ico-windows" title="Rentals" role="menuitem">Locações</a></li>
        <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %>/li>
      </ul>
    </nav>
  </div>
</aside>